.value{
    text-align: right;
}
.butns{
     width: 70px;
     height: 50px;
     padding-left: 20px;
     margin-top:20px;
 }

 div{
     border:1px solid black;
     background: black;
 }

 ion-img{
     padding-left: 120px;
 }

 form{
     margin-top: 30px;
 }

 .item{
     background-color:lightslategrey;
     color:blue;
 }